#profile-image{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}
.profile-head{
	text-align: center;
}
ul.nav-tabs li.active a.active{
	border: none;
	border-bottom: 2px solid #0062cc;
}
ul.nav-tabs{
	justify-content: center;
	display: flex;
}
li a.nav-link{
	font-size: 18px;
}
h3,h4{
	color: #000;
}
.profile-tab .row{
	padding: 1%;
}

.row select,.reset-button{
	width: 100%;
}

.birthdate .input-medium{
	width: 0 !important;
}

#password-error{
	color: #ff0000 ;
}

#label, #updateButton{
	margin-left: 40%;
}